<div class="post-thumbnail">
    <img src="{{ post.photo_url }}" alt="..." class="img-fluid">
</div>
<div class="post-details">
    <div class="post-meta d-flex justify-content-between">
        <div class="category">
            <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
        </div>
    </div>
    <h1>
        {{ post.title }}<a href="{{ post.get_absolute_url }}"><i class="fa fa-bookmark-o"></i></a>
    </h1>
    <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
        <a href="{% url 'profile' post.author.username %}"
           class="author d-flex align-items-center flex-wrap">
            <div class="avatar">
                <img src="{{ user_image }}" alt="..." class="img-fluid">
            </div>
            <div class="title">
                <span>{{ post.author }}</span>
            </div>
        </a>
        <div class="d-flex align-items-center flex-wrap">
            <div class="date">
                <i class="icon-clock"></i> {{ post.create_at|timesince }} ago
            </div>
            <div class="views">
                <i class="icon-eye"></i> {{ post.views_count }}
            </div>
            <div class="views">
                <a href="{% url 'like' post.pk %}"
                   style="color: {% if liked %}red{% else %}#555{% endif %};"> <i class="fa fa-heart"  aria-hidden="true"></i></a>{{ post.like_count }}
            </div>
            <div class="comments meta-last">
                <i class="icon-comment"></i>{{ comment_count }}
            </div>
        </div>
    </div>
    <div class="post-body">{{ post.content }}</div>
    {% include 'web_site/components/_switchers_btn.html' %}
    {% include 'web_site/components/_comments.html' %}
    {% include 'web_site/components/_add_comment.html' %}
</div>
