{% load static %}
<div class="post col-xl-6">
    <div class="post-thumbnail">
      <a href="{{ post.get_absolute_url }}">
      <img src="{{ post.photo_url }}" alt="..." class="img-fluid">
    </a>
  </div>
    <div class="post-details">
      <div class="post-meta d-flex justify-content-between">
        <div class="date meta-last">{{ post.create_at|date:'d F | Y' }}</div>
        <div class="category"><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></div>
      </div><a href="{{ post.get_absolute_url }}">
        <h3 class="h4">{{ post.title }}</h3></a>
      <p class="text-muted">{{ post.content|truncatewords:20 }}</p>
      <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
          <div class="avatar"><img src="{{ post.image_url }}" alt="..." class="img-fluid"></div>
          <div class="title"><span>{{ post.author }}</span></div></a>
        <div class="date"><i class="icon-clock"></i> {{ post.create_at|date:'d/m/Y' }}</div>
        <div class="comments meta-last"><i class="icon-comment"></i>12</div>
      </footer>
    </div>
  </div>