{% extends 'base.html' %}

{% block title %}
    Update post
{% endblock title %}

{% block main %}
<div class="container mt-3">
    <div class="form-group">
        <header>
            <h3 class="h6">Update post</h3>
        </header>
        {% include 'components/_messages.html' %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-floating mb-4">
                    {{ field.errors }}
                    {{ field }}
                    <label class="form-label" for="{{ field.id_for_label  }}">{{ field.label }}</label>
                    {% if field.help_text %}
                        <p class="help mt-3">
                            {{ field.help_text|safe }}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-lg px-5">Edit</button>
        </form>
    </div>
</div>
{% endblock main %}